@font-face {
    font-family: Iransans;
    src: url(./fonts/IRANSansWeb_Medium.woff2);
}

*{
    font-family: Iransans;
}

.clock{
    background-color: lightpink;
    border-radius: 50%;
    border:20px solid rgba(17, 18, 24, 0.133);
    height:500px;
    margin: 50px auto;
    position: relative;
    width: 500px;

}
.circle{
    position: absolute;
    top: 46%;
    left: 48%;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    z-index: 10;
}

.hand{
    width: 0;
    height: 0;
    position: absolute;
    transform-origin:bottom;


}

.hour{
    border-left: 10px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 115px solid black;
    top: 27%;
    left: 50.5%;
    z-index: 5;

}


.minute{
    top: 22%;
    left: 50.5%;
    z-index: 4;
    border-left: 10px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 135px solid #17a39c;

}

.second{
    top: 16%;
    left: 50.5%;
    z-index: 12;
    border-left: 10px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 170px solid red;
    z-index: 3;

}

.number{
 display: inline-block;
 font-size: 40px;
 font-weight: bold;
 position: absolute;
}

.number1{
    top: 10%;
    left: 71%;
}
.number2{
    top: 26%;
    left: 86%;
}
.number3{
  top: 45%;
  left: 91%;
}
.number4{
    top: 65%;
    left: 85%;
}
.number5{
    top: 81%;
    left: 71%;
}
.number6{
    bottom: 1%;
    left: 48%;
}
.number7{
    top: 81%;
    left: 25%;
}
.number8{
    top: 65%;
    left: 11%;
}
.number9{
    top: 45%;
    left: 8%;
}
.number10{
    top: 24%;
    left: 10%;
}
.number11{
    top: 8%;
    left: 26%;
}

.number12{
top: 2%;
left: 48%;
}